
<div class="row">
<h2>{{projectToDisplay?.name}}</h2>
<h3 class="grayColor">By {{projectToDisplay.people}}</h3>
</div>
<div class="row">
  <div class="col m10">
    <div class="video-container">
      <iframe width="639" height="360" [src]='url' frameborder="0" allowfullscreen></iframe>
    </div>
    <p>
      <i class="material-icons">location_on</i>
      {{projectToDisplay.location}}
    </p>
  </div>
  <div class="col m2">
    <h4>{{projectToDisplay.amountRaised}}</h4>
    <p>pledged of {{projectToDisplay?.goal}}</p>
    <h4>{{projectToDisplay.backers}}</h4>
    <p>backers</p>
    <h4>{{projectToDisplay.date}}</h4>
    <p>date</p>
    <br>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  </div>
</div>
  <div class="row">
    <div class="col m10">
      <h3>
        Description:
      </h3>
      <h5>
        {{projectToDisplay.description}}
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col m10">
    <img class="imgSize" src={{projectToDisplay.image}} alt="picture of product">
    <br>
    <h4>
      What this money will be used for.
    </h4>
    <h6>
      {{projectToDisplay.moneyDesc}}
    </h6>
    
  </div>
  <div class="col m2">
    <div class="card-panel teal">
          <span class="white-text">
            {{projectToDisplay.rewards}}
          </span>
        </div>
  </div>
</div>



<a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons" (click)="editProject()">edit</i></a>
